<div class="shower">
<h1 class="name-header"> Archaea </h1>
<div class="text-loadout">
  <%= link_to 'Back', :back %>
<p class="header">General Characteristics</p>
<span class="description">Representing the second of the three great domains of life, the Archaea are considered the “extremophiles” of our planet--although this representation is somewhat of a generalization. While many archaean species have adapted to inhabit the most inhospitable and intolerable habitats, most members of this domain are widespread throughout marine, aquatic, wetland and soil habitats. Although several decades of molecular systematics and phylogenetic analyses have provided convincing evidence that Archaea are actually more closely related to the domain eukarya than to bacteria, the evolutionary lineages within domain Archaea are far from being resolved, and will likely be the center of considerable research and debate for years to come.</span>
<hr class="line">
  <%= image_tag("Archaea/Archa-1", size: '300x240', class: "img") %>
  </br><span class="caption">Biochemical differences between the composition of the cell membranes of Bacteria versus Archaea as illustrated in the archaean Methanobrevibacter smithii.</span></br>

  <%= image_tag("Archaea/Archa-2", size: '300x240', class: "img") %>
  </br><span class="caption">The orange coloration is due to colonies of thermophilic (heat-loving) archaeans that survive in natural hot springs that are near the boiling point.</span></br>

  <%= image_tag("Archaea/Archa-3", size: '300x240', class: "img") %>
  </br><span class="caption">Generic representation of the three domains (please note that this figure does not represent the most up-to-date phylogenetic relationships).</span>
</div>
</div>
