<div class="shower">
<h1 class="name-header"> Domain Eukarya </h1>
<div class="text-loadout">
<p class="header">General Characteristics</p>
<span class="description">Welcome to your domain! Some students may be surprised by the fact that even though domain eukarya includes plants, fungi and animals, the vast majority of eukaryotic species are single-celled, microscopic organisms. The one feature that does unite the members of this domain however is the shared complexity of their cells, and the evidence supporting the role endosymbiosis played in this complexity. Today, there is abundant scientific support that mitochondria and plastids (and possibly other organelles such as peroxisomes and lysosomes) were once free-living, unicellular prokaryotes that were engulfed, incorporated into, and allowed to take up permanent residence as a complex organelle inside of ancestral eukaryotic cells.</span>
<hr class="line">
  <%= image_tag("Eukarya/euka1", size: '600x480', class: "img") %>
</br><span class="caption">Generalized depiction of a eukaryotic cell (note the chloroplast and mitochondria).</span></br>

  <%= image_tag("Eukarya/euka2", size: '300x240', class: "img") %>
  </br><span class="caption">A carpenter bee gathering nectar.</span></br>

  <%= image_tag("Eukarya/euka3", size: '300x240', class: "img") %>
  </br><span class="caption">Euglena: a photosynthetic, single-celled eukaryote.</span>
</div>
</div>
