<img class= "sar-clado" src="<%= asset_path( 'sar-clado.png' ) %>"/>
<ul>
  <% @stares.each do |stare| %>
    <li id="clado-list" class='<%= stare.undername.downcase %>' ><%= link_to stare.undername, sar_path(stare) %></li>
  <% end %>
</ul>
<div class="clado-info"><p class="tree-info">
  The SAR is a large, morphologically diverse group that includes many important protist organisms.  Since these organisms often differ quite dramatically from each other in terms of their anatomy, it was originally thought that they comprised very different branches on the protist tree of life.  However, many recent molecular studies have identified so many genetic and protein similarities between these organisms that they have been lumped together into the SAR.  SAR is an acronym that stands for three of the major lineages of organisms within this larger group----the stramenopiles, the alveolates, and the rhizarians.  It is widely accepted that this designation represents a cohesive, monophyletic classification.
</p>
</div>
