<body class="home">
<center>
<h1>Intro to Biology</h1>
  <%= button_to "Intro Questions", cladograms_path, :method => "get", :class => "intro-questions" %>
  <%= button_to "Tree of Life", cladograms_path, :method => "get", :class => "life-tree" %>
</center>
</body>
