<div class="home">
<h1>Intro to Biology</h1>
</div>
<div>
  <button class="intro-questions">Intro Questions</button>
  <Link to={`/cladograms`}>
    <button class="life-tree">Tree of Life</button>
  </Link>
</div>
