<img class= "bacteria-clado" src="<%= asset_path( 'bacteria-clado.png' ) %>"/>
<ul>
  <% @backers.each do |backer| %>
    <li class="clado-list"><%= link_to backer.undername, bacterium_path(backer) %></li>
  <% end %>
</ul>
