.plastida-clado {
  position: relative;
  top: 20px;
  left: 20px;
}

.red {
  position: relative;
  top: -170px;
  left: 315px;
}

.chlorophytes {
  position: relative;
  top: -135px;
  left: 315px;
}

.charophytes {
  position: relative;
  top: -105px;
  left: 315px;
}

.plants {
  position: relative;
  top: -82px;
  left: 315px;
}
