.bacteria-clado {
  position: relative;
  top: 20px;
  left: 20px;
}

.proteobacteria {
  position: relative;
  top: -247px;
  left: 450px;
}

.chlamydias {
  position: relative;
  top: -210px;
  left: 450px;
}

.spirochaetes {
  position: relative;
  top: -187px;
  left: 450px;
}

.cyanobacteria {
  position: relative;
  top: -125px;
  left: 450px;
}

.gram-positive {
  position: relative;
  top: -95px;
  left: 450px;
}
