.bacteria-clado {
  position: relative;
  top: 20px;
  left: 20px;
}

.proteobacteria {
  position: relative;
  top: -245px;
  left: 455px;
}

.chlamydias {
  position: relative;
  top: -208px;
  left: 455px;
}

.spirochaetes {
  position: relative;
  top: -185px;
  left: 455px;
}

.cyanobacteria {
  position: relative;
  top: -123px;
  left: 455px;
}

.gram-positive {
  position: relative;
  top: -93px;
  left: 455px;
}
