$primary-grey: lightgrey;
$primary-blue: #0043af;


.main-clado {
  position: relative;
  top: 80px;
  left: -400px;
}

.clado-info {
  text-align: center;
}

.tree-info {
  font-family: 'Open Sans', sans-serif;
  background: #c7defc;
  border: 1px solid $primary-grey;
  border-radius: 10%;
  padding: 15px;
  font-size: 15px;
  margin-top: -50px;
  font-size: 14px;
}

#clado-list {
  list-style-type: none;
}

.bact, .arch, .exca, .unik, .plas, .sar  {
  font-size: 20px;
}

.bact, .arch, .exca, .unik, .plas, .sar {
  &:hover {
    color: lightblue;
  }
}

.bact {
  position: relative;
  top: -140px;
  left: -10px;
  border: 1px solid grey;
  color: white;
  background: black;
}

.arch {
  position: relative;
  top: -250px;
  left: 20px;
}

.exca {
  position: relative;
  top: -280px;
  left: 130px;
}

.unik {
  position: relative;
  top: -250px;
  left: 260px;
}

.plas {
  position: relative;
  top: -50px;
  left: 280px;
}

.sar {
  position: relative;
  top: 95px;
  left: 50px;
}
