$primary-grey: lightgrey;
$primary-blue: #0043af;
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

.main-clado {
  position: relative;
  top: 80px;
  left: -400px;
}

.clado-info {
  text-align: center;
}

.tree-info {
  font-family: 'Open Sans', sans-serif;
  background: #f2f7ff;
  border: 1px solid $primary-grey;
  padding: 15px;
  margin-top: -50px;
  font-size: 17px;
}

#clado-list {
  list-style-type: none;
}

.bact, .arch, .exca, .unik, .plas, .sar  {
  font-size: 20px;
}

.bact, .arch, .exca, .unik, .plas, .sar {
  &:hover {
    color: lightblue;
  }
}

.bact {
  position: relative;
  top: -140px;
  left: -10px;
}

.arch {
  position: relative;
  top: -250px;
  left: 20px;
}

.exca {
  position: relative;
  top: -280px;
  left: 130px;
}

.unik {
  position: relative;
  top: -250px;
  left: 260px;
}

.plas {
  position: relative;
  top: -50px;
  left: 280px;
}

.sar {
  position: relative;
  top: 95px;
  left: 50px;
}

.instructions:first-of-type {
  margin-top: 120px;
}

.instructions {
  font-size: 15px;
  font-family: 'Open Sans', sans-serif;
}
