.excavata-clado {
  position: relative;
  top: 20px;
  left: 20px;
}

.euglenozoa {
  position: relative;
  top: -115px;
  left: 310px;
}

.parabasala {
  position: relative;
  top: -80px;
  left: 310px;
}

.diplomonadida {
  position: relative;
  top: -60px;
  left: 310px;
}
