.excavata-clado {
  position: relative;
  top: 20px;
  left: 20px;
}

.euglenids {
  position: relative;
  top: -110px;
  left: 310px;
}

.parabasalids {
  position: relative;
  top: -78px;
  left: 310px;
}

.diplomonads {
  position: relative;
  top: -58px;
  left: 310px;
}
