$primary-blue: #0043af;
$primary-green: #00af37;
$primary-white: #ffffff;
$primary-grey: lightgrey;

button:focus {outline:0;}

a:visited {
  color: #002482;
}

.home {
  background-image: image-url("tree.jpg");
  background-repeat: no-repeat;
  background-position: 50% 0%;
}

.main-title {
  color: black;
  font-size: 55px;
  text-shadow: -1px 0 $primary-white, 0 1px $primary-white, 1px 0 $primary-white, 0 -1px $primary-white;
  border: 1px solid rgba(0, 0, 0, 0.2);
  background: rgba(255, 255, 255, 0.5);
}

.intro-questions {
  width: 270px;
  height: 75px;
  background: $primary-grey;
  color: $primary-green;
  border: 1px solid $primary-green;
  transition: all 0.3s ease;
  font-size: 20px;
}

.intro-questions:hover{
  background: $primary-green;
  color: $primary-white;
  opacity: 1;
}

.life-tree {
  width: 170px;
  height: 75px;
  margin: 15px;
  background: $primary-grey;
  color: $primary-blue;
  border: 1px solid $primary-blue;
  transition: all 0.3s ease;
  font-size: 20px;
}

.life-tree:hover{
  background: $primary-blue;
  color: $primary-white;
  opacity: 1;
}
