$primary-blue: #0043af;
$primary-green: #00af37;
$primary-white: #ffffff;
$primary-grey: lightgrey;

button:focus {outline:0;}

body {
}

a:link {
  color: $primary-blue;
}

a:visited {
  color: #002482;
}

a:hover {
  color: #ed490a;
  text-decoration:none;
  text-shadow: 0 0 1px #999;
}

.home {
  background-image: image-url("biodiv.jpg");
  background-repeat: no-repeat;
  background-position: 50% 0%;
}

.intro-questions {
  width: 170px;
  height: 75px;
  background: $primary-grey;
  color: $primary-green;
  border: 1px solid $primary-green;
  transition: all 0.3s ease;
  font-size: 20px;
}

.intro-questions:hover{
  background: $primary-green;
  color: $primary-white;
  opacity: 1;
}

.life-tree {
  width: 170px;
  height: 75px;
  margin: 15px;
  background: $primary-grey;
  color: $primary-blue;
  border: 1px solid $primary-blue;
  transition: all 0.3s ease;
  font-size: 20px;
}

.life-tree:hover{
  background: $primary-blue;
  color: $primary-white;
  opacity: 1;
}
