@import url('https://fonts.googleapis.com/css?family=Open+Sans');

.intro-home {
  background-image: image-url("rain.jpg");
  background-blend-mode: screen;
  background-color: lightgrey;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

.intro-links {
  margin: 10px;
  font-size: 15px;
}

.intro-img {
  background: #292E37;
  padding: 15px;
  border-radius: 2%;
}

.intro-caption {
  color: #00225b;
  font-style: italic;
  font-size: 12px;
}

.intro-instr {
  background: #e3e8f2;
  font-weight: bold;
  font-size: 17px;
  border: 1px solid black;
  margin: 0px 90px;
  padding: 30px 20px;
}
