.sar-clado {
  position: relative;
  top: 30px;
  left: 9px;
}

.ciliates {
  position: relative;
  top: -278px;
  left: 500px;
}

.dinoflagellates {
  position: relative;
  top: -245px;
  left: 500px;
}

.apicomplexans {
  position: relative;
  top: -225px;
  left: 500px;
}

.brown {
  position: relative;
  top: -175px;
  left: 500px;
}

.diatoms {
  position: relative;
  top: -155px;
  left: 500px;
}

.rhizarians {
  position: relative;
  top: -115px;
  left: 500px;
}
