.sar-clado {
  position: relative;
  top: 30px;
  left: 9px;
}

.ciliates {
  position: relative;
  top: -278px;
  left: 500px;
}

.dinoflagellates {
  position: relative;
  top: -245px;
  left: 500px;
}

.apicomplexans {
  position: relative;
  top: -225px;
  left: 500px;
}

.brown {
  position: relative;
  top: -175px;
  left: 500px;
}

.diatoms {
  position: relative;
  top: -155px;
  left: 500px;
}

.rhizarians {
  position: relative;
  top: -115px;
  left: 500px;
}

.alveolates {
  position: absolute;
  top: 115px;
  left: 300px;
  border: 1px black solid;
  padding: 4px;
  background: lightgrey;
  color: #0061ff;
}

.stramenopiles {
  position: absolute;
  top: 220px;
  left: 305px;
  border: 1px black solid;
  padding: 4px;
  background: lightgrey;
  color: #0061ff;
}
