@import url('https://fonts.googleapis.com/css?family=Merriweather');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

.shower {
  background-image: image-url("dots.png");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  font-family: 'Open Sans', sans-serif;
}

.text-loadout {
  text-align: center;
  background: #f8f8f8;
  border: 1px solid darkgrey;
  padding: 15px;
  font-size: 15px;
}

.header {
  font-size: 20px;
  text-decoration: underline;
}

.name-header {
  font-family: 'Merriweather', serif;
  font-size: 40px;
  text-align: left;
  margin-top: 0px;
  margin-bottom: 10px;
}

.img {
  display: inline-block;
}

.caption {
  display: inline-block;
  width: 200px;
  font-size: 10px;
}
