@import url('https://fonts.googleapis.com/css?family=Merriweather');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
$primary-blue: #0043af;


.shower {
  background-image: image-url("dots.png");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  font-family: 'Open Sans', sans-serif;
}

.text-loadout {
  text-align: center;
  background: #f8f8f8;
  border: 1px solid darkgrey;
  padding: 15px;
  font-size: 17px;
}

.header {
  font-size: 20px;
  text-decoration: underline;
}

.name-header {
  font-family: 'Merriweather', serif;
  font-size: 40px;
  text-align: left;
  margin-top: 0px;
  margin-bottom: 10px;
}

.line {
  width: 50%;
  margin-top: 30px;
  margin-bottom: 30px;
  border: 0;
  border-top: 1px solid $primary-blue;
}

.img {
  display: inline-block;
}

.caption {
  display: inline-block;
  width: 300px;
  font-size: 14px;
  color: #00225b;
  margin-bottom: 50px;
  border-bottom: 1px $primary-blue groove;
  padding-bottom: 20px;
}
