.unikonta-clado {
  position: relative;
  top: 20px;
  left: 8px;
}

.amoebozoans {
  position: relative;
  top: -380px;
  left: 500px;
}

.choanoflagellates {
  position: relative;
  top: -345px;
  left: 500px;
}

.animals {
  position: relative;
  top: -320px;
  left: 500px;
}

.chytrids {
  position: relative;
  top: -295px;
  left: 500px;
}

.zygomycetes {
  position: relative;
  top: -120px;
  left: 500px;
}

.glomeromycetes {
  position: relative;
  top: -95px;
  left: 500px;
}

.basidiomycetes {
  position: relative;
  top: -80px;
  left: 500px;
}

.ascomycetes {
  position: relative;
  top: -70px;
  left: 500px;
}
