.unikonta-clado {
  position: relative;
  top: 20px;
  left: 8px;
}

.amoebozoans {
  position: relative;
  top: -312px;
  left: 505px;
}

.choanoflagellates {
  position: relative;
  top: -280px;
  left: 505px;
}

.animals {
  position: relative;
  top: -248px;
  left: 505px;
}

.chytrids {
  position: relative;
  top: -230px;
  left: 505px;
}

.zygomycetes {
  position: relative;
  top: -191px;
  left: 505px;
}

.glomeromycetes {
  position: relative;
  top: -170px;
  left: 505px;
}

.basidiomycetes {
  position: relative;
  top: -155px;
  left: 505px;
}

.ascomycetes {
  position: relative;
  top: -145px;
  left: 505px;
}

.fungi {
  position: absolute;;
  top: 155px;
  left: 327px;
  border: 1px black solid;
  padding: 4px;
  background: lightgrey;
  color: #0061ff;
}
