.unikonta-clado {
  position: relative;
  top: 20px;
  left: 8px;
}

.amoebozoans {
  position: relative;
  top: -300px;
  left: 500px;
}

.choanoflagellates {
  position: relative;
  top: -270px;
  left: 500px;
}

.animals {
  position: relative;
  top: -245px;
  left: 500px;
}

.chytrids {
  position: relative;
  top: -220px;
  left: 500px;
}

.zygomycetes {
  position: relative;
  top: -190px;
  left: 500px;
}

.glomeromycetes {
  position: relative;
  top: -165px;
  left: 500px;
}

.basidiomycetes {
  position: relative;
  top: -150px;
  left: 500px;
}

.ascomycetes {
  position: relative;
  top: -140px;
  left: 500px;
}
